/*
 *  Inner wrapper; Shared with multiple pages
 */
.inner__menu_w{
    position: relative; left: 0px; width: 100%; height: 60px; background: #EA8BF3;

    .inner__menu{
        position: relative; width: $container-width; left: calc(50% - $container-width-half); height: 100%; display: inline-flex; justify-content: space-between;

        .inner__menu_profile{
            position: relative; height: 60px; display: inline-flex;

            a{
                display: inline-flex;
                .inner__menu_profile_img_w{
                    position: relative; width: 32px; height: 32px; border-radius: 16px; overflow: hidden; margin-top: 12px;
                    img{
                        position: absolute; left: 0px; top: 0px; width: 100%;
                    }
                }
                p{
                    font-size:16px; margin-top:18px; margin-left: 10px;
                }
            }
        }

        .inner__menu_links{
            position: relative; height: 60px; display: inline-flex;
            a{
                position: relative; display: flex;
                .inner__menu_links_link{
                    display: inline-flex; position: relative; gap: 10px; padding: 0px 20px; border-left: 1px solid rgba(0,0,0,0.1); border-right: 1px solid rgba(0,0,0,0.1);
                    img{
                        //width: auto; height: 20px; position: relative;
                        margin-top: 20px;
                    }
                    .scholarship{
                        width: 15px; height: 20px;
                    }
                    .inbox{
                        width: 20px; height: 16px; margin-top: 22px;
                    }
                    .schedule{
                        width: 20px; height: 18px;
                    }

                    p{
                        margin-top: 18px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        .inner__menu{
            left: 40px; width: calc(100% - 80px);
        }
    }
}

@media only screen and (max-width: 800px) {
    .inner__menu_w{
        height: auto;
        .inner__menu{
            left: 20px; width: calc(100% - 40px); height:auto; flex-wrap: wrap;
            .inner__menu_profile{
                flex-wrap: wrap; width: 100%;
                a{
                    width: 100%;
                    .inner__menu_profile_img_w{
                        img{
                            width: 32px; height: 32px;
                        }
                    }
                }
            }
            .inner__menu_links{
                width: 100%; flex-wrap: wrap; height: auto;
                a{
                    width: 100%;
                    .inner__menu_links_link{
                        width: 100%; border-right: none;
                    }
                }
                a:last-child{
                    margin-bottom: 16px;
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 *  User profile
 */
.profile__wrapper{
    position: relative; left: calc(50% - $container-width-half); width: $container-width; display: inline-flex; justify-content: space-between;
    margin-top: 32px; margin-bottom: 32px;
    .profile__wrapper_left{
        position: relative; width: 320px;

        .p__w_l_img_w{
            position: relative; left: 0px; top: 0px; width: 320px; border-radius: 16px; overflow: hidden; min-height: 160px; border: 1px solid rgba(0,0,0,0.1);
            form{
                img{
                    position: relative; left: 0px; top: 0px; width: 100%; border-radius: 16px;
                }

                .edit-your-photo{
                    position: absolute; right: 20px; top:0px; margin-top: 20px; display: inline-flex; padding: 6px 20px; background: #EEF0F2; gap: 8px; border-radius: 4px;
                    opacity: 0; transition: 0.2s all;
                    i{font-size: 14px; margin-top: 2px;}
                    p{
                        margin: 0px; font-size: 14px;
                    }
                }
            }
        }
        .p__w_l_img_w:hover{
            form{
                .edit-your-photo{opacity: 1; cursor: pointer;}
            }
        }

        .p__w_l_links_w{
            position: relative; left: 0px; width: 100%; border-radius: 16px; border: 1px solid rgba(0,0,0,0.1); margin-top: 16px;
            padding: 16px;

            .social_network_wrapper{
                position: relative; width: 100%; padding: 6px 16px; border: 1px solid rgba(0,0,0,0.1); border-radius: 8px; margin-bottom: 8px;
                p{
                    margin: 0px;
                }
            }

            .share-your-links{
                margin: 0px;
            }
        }
    }

    .profile__wrapper_right{
        position: relative; width: calc(100% - 352px);
        .form-control{
            background: #FFFFFF; border-radius: 8px;
        }
        textarea{min-height: 120px !important; }
        .btn{
            background: #EA8BF3; color: #000000;
        }

        /* Table preview */
        .giw-hc-header{
            position: relative; left: 0px; top: 0px; width: 100%;
            h1{
                color: $dark; margin: 0px; transition: 0.3s all;
                font-size: 44px;
            }
            p{
                color: $dark; margin-top: 20px; margin-bottom: 0px;
            }
        }

        .giw-hc-table{
            position: relative; left: 0px; top: 0px; width: 100%; min-height: 100px; margin-top: 32px;

            table{
                position: relative; left:0px; top:0px; width: 100%;
                tr{
                    width: 100%; min-height: 42px; display: inline-flex;  border-bottom: 1px solid $dark;

                    td{
                        min-height: 36px; width: calc(25% - 45px); padding-top: 12px; padding-bottom: 12px;
                        p{
                            //margin-top: 12px; margin-bottom: 0px;
                        }
                        .image-orange{display: none;}

                        a{
                            margin-top: -2px;
                            .session-table-btn{
                                height: 26px; border: 1px solid $dark; background: #EA8BF3; margin-top: 0px;
                                font-size: 14px; padding-top: 4px;
                            }
                        }
                    }

                    //.td-end{ text-align: right; background: grey; }

                    .td-flex{
                        display: inline-flex;
                        img{
                            height: 16px; margin-top: 3px; margin-right: 10px;
                        }
                        a{
                            display: inline-flex;
                        }
                    }

                    td:first-child{width: 60px; padding-left: 10px;}
                    td:last-child{ width: 120px; padding-right: 10px;}
                }
                tr:hover{
                    background: $dark;
                    td{
                        color: #EA8BF3;

                        .image-black{display: none;}
                        .image-orange{display: initial;}

                        a{color:#EA8BF3;}
                    }
                }
                .header{
                    background: $dark;
                    td{
                        color: #EA8BF3;
                    }
                }
            }

            .hiw-hc-t-row{
                position: relative; left: 0px; top: 0px; width: 100%; height: 48px; display: inline-flex; justify-content: space-between; border-bottom: 1px solid $dark;
                margin-bottom: 6px;

                .t-col{
                    p{
                        margin-top: 12px;
                    }
                    img{
                        height: 16px; margin-top: 15px; margin-right: 10px;
                    }
                }
                .t-col-df{
                    display: inline-flex;
                }
                .t-col:first-child{
                    width: 60px; background: grey;
                }
                .t-col:last-child{
                    width: 120px;
                }
            }

            .hiw-hc-t-row:hover{
                background: $dark;

                .t-col{
                    p{color:#EA8BF3;}
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .profile__wrapper{
        left: 40px; width: calc(100% - 80px);
    }
}
@media only screen and (max-width: 800px){
    .profile__wrapper{
        flex-wrap: wrap; left: 20px; width: calc(100% - 40px);
        .profile__wrapper_left{
            width: 100%;
            .p__w_l_img_w{
                width: 100%;
            }
        }
        .profile__wrapper_right{width: 100%; border: 1px solid rgba(0,0,0,0.1); border-radius: 8px; padding: 16px; margin-top: 16px;}
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 *  Apply for scholarship
 */
.programs__wrapper{
    position: relative; left: 0px; top:0px; width: 100%; min-height: 120px;
    .programs__wrapper_colored{
        position: relative; left: 0px; top: 0px; width: 100%;

        .single__program_wrapper{
            position: relative; left: calc(50% - $container-width-half); width: $container-width; min-height: 120px;
            display: none; justify-content: space-between; height: calc(100% - 160px); flex-wrap: wrap;

            .single__program_wrapper_left{
                position: relative; left: 0px; width: calc(50% - 32px); display: flex; align-items: center;

                h1{
                    font-size: 60px; font-weight: bold; margin-bottom: 0px;
                }
                h5{
                    font-size: 20px; font-weight: bold; margin-top: 32px;
                }

                .buttons-wrapper{
                    position: relative; width: 100%; height: 40px; gap:24px; margin-top: 32px;

                    a{
                        margin-right: 15px;
                        button{
                            border-radius: 8px; font-size: 16px; font-weight: bold; padding: 6px 32px; height: 42px; gap: 16px;

                            border: 2px solid $p1_primary;
                            background: $p1_pac;

                            img{
                                margin-right: 16px;
                            }
                            i{
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
            .single__program_wrapper_right{
                position: relative; left: 0px; width: calc(50% - 0px);
                display: flex;
                justify-content: flex-end;
                align-items: center;   /* <---- NEW    */

                img{
                    max-width: 100%; max-height: 100%;
                }
            }
        }
        @media only screen and (max-width: 1500px){
            .single__program_wrapper{
                left: 40px; width: calc(100% - 80px);
            }
        }
        @media only screen and (max-width: 1000px){
            .single__program_wrapper{
                left: 20px; width: calc(100% - 40px);
                .single__program_wrapper_left{
                    width: 100%;
                    h1{
                        font-size: 32px;
                    }
                    h5{
                        font-size: 16px;
                    }
                    .buttons-wrapper{
                        gap: 0px;
                        a{
                            button{
                                font-size: 14px; padding: 6px 16px; gap: 0px; margin-bottom: 8px;
                                img{
                                    margin-right: 8px;
                                }
                                i{margin-right: 8px}
                            }
                        }
                    }
                }
                .single__program_wrapper_right{
                    width: 100%;
                }
            }
        }

        .single__program_wrapper:first-child{display: inline-flex;}
        .single__program_wrapper_arrows{
            position: absolute; bottom: 80px; left: calc(50% - $container-width-half); width: $container-width; height: 40px;
            display: inline-flex; justify-content: flex-end; gap: 15px;

            .p__sbw_btn{
                border-radius: 8px; border: 1px solid $dark; padding: 6px 20px;
            }
            .p__sbw_btn:hover{cursor: pointer;}
        }
        @media only screen and (max-width: 1500px){
            .single__program_wrapper_arrows{
                left: 40px; width: calc(100% - 80px);
            }
        }
        @media only screen and (max-width: 1000px){
            .single__program_wrapper_arrows{
                left: 20px; width: calc(100% - 40px); position: relative; bottom: 0px; margin-bottom: 32px; justify-content: center;
            }
        }
    }
    .programs__wrapper_colored_1{
        background: #DBFF8F;
    }
}
