/*
 *  Inner wrapper; Shared with multiple pages
 */
.inner__menu_w{
    position: relative; left: 0px; width: 100%; height: 60px; background: #EA8BF3;

    .mobile_small_menu{
        position: relative; width: 100%; height: 56px; background: $black; border-top: 1px solid #EA8BF3; display: flex; justify-content: space-between; vertical-align: middle;
        padding: 0px 20px; display: none;
        a{
            position: relative; display: flex; height: 100%;
            .single_elem{
                position: relative; display: flex; align-items: center;
                .total_no{
                    position: absolute; left: 24px; top: 12px;
                    p{
                        color: $white; font-size: 12px;
                    }
                }
            }
            .profile__submenu{
                //@media only screen and (max-width: 1200px){
                //    svg{
                //        .change-color{
                //            fill: #EA8BF3 !important;
                //        }
                //    }
                //}
            }
            .active{
                svg{
                    .change-color{
                        fill: #EA8BF3 !important;
                    }
                }
                .total_no{
                    p{color:#EA8BF3;}
                }
            }
        }
    }

    .inner__menu{
        position: relative; width: $container-width; left: calc(50% - $container-width-half); height: 100%; display: inline-flex; justify-content: space-between;

        .inner__menu_profile{
            position: relative; height: 60px; display: inline-flex;

            a{
                display: inline-flex;
                .inner__menu_profile_img_w{
                    position: relative; width: 32px; height: 32px; border-radius: 16px; overflow: hidden; margin-top: 12px;
                    img{
                        position: absolute; left: 0px; top: 0px;

                        object-fit: cover;
                        min-width: 100%;
                        min-height: 100%;
                        max-width: 120%;
                    }
                }
                p{
                    font-size:16px; margin-top:18px; margin-left: 10px;
                }
            }
        }

        .inner__menu_links{
            position: relative; height: 60px; display: inline-flex;
            a{
                position: relative; display: flex;
                .inner__menu_links_link{
                    display: flex; position: relative; gap: 10px; padding: 0px 20px; border-left: 1px solid rgba(0,0,0,0.1); border-right: 1px solid rgba(0,0,0,0.1);
                    align-items: center;
                    img{
                        //width: auto; height: 20px; position: relative;
                        //margin-top: 20px;
                        margin-top: 0px !important;
                    }
                    .scholarship{
                        width: 15px; height: 20px;
                    }
                    .inbox{
                        width: 20px; height: 16px; margin-top: 22px;
                    }
                    .schedule{
                        width: 20px; height: 18px;
                    }

                    p{
                        //margin-top: 18px;
                        margin: 0px;
                    }

                    .number{
                        background: $white; height: 20px; display: flex; align-items: center; padding: 0px 6px; border-radius: 3px;
                        p{
                            font-size: 12px; margin: 0px; padding: 0px; font-weight: bold;
                        }
                    }
                }
                .active{
                    background: #BB6FC2;
                }
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        .inner__menu{
            left: 40px; width: calc(100% - 80px);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .inner__menu_w{
        height: auto; background: $white; border-bottom: 2px solid $black;
        .mobile_small_menu{display: flex;}
        .inner__menu{
            left: 20px; width: calc(100% - 40px); height:auto; flex-wrap: wrap; display: none;
            .inner__menu_profile{
                flex-wrap: wrap; width: 100%;
                a{
                    width: 100%;
                    .inner__menu_profile_img_w{
                        img{
                            width: 32px; height: 32px;
                        }
                    }
                }
            }
            .inner__menu_links{
                width: 100%; flex-wrap: wrap; height: auto; gap: 24px;
                a{
                    width: 100%;
                    .inner__menu_links_link{
                        width: 100%; border: none; padding: 0px;
                        .number{
                            display: none;
                        }
                    }
                    .active{
                        background: none;
                    }
                }
                a:last-child{
                    margin-bottom: 16px;
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 *  User profile
 */
.profile__wrapper{
    position: relative; left: calc(50% - $container-width-half); width: $container-width; display: inline-flex; justify-content: space-between;
    margin-top: 32px; margin-bottom: 32px;
    .profile__wrapper_left{
        position: relative; width: 320px;

        .p__w_l_img_w{
            position: relative; left: 0px; top: 0px; width: 320px; border-radius: 16px; overflow: hidden; border: 1px solid rgba(0,0,0,0.1);
            form{
                margin: 0px;
                img{
                    position: relative; left: 0px; top: 0px; width: 100%; border-radius: 16px;
                }

                .edit-your-photo{
                    position: absolute; right: 20px; top:0px; margin-top: 20px; display: inline-flex; padding: 6px 20px; background: #EEF0F2; gap: 8px; border-radius: 4px;
                    opacity: 0; transition: 0.2s all;
                    i{font-size: 14px; margin-top: 2px;}
                    p{
                        margin: 0px; font-size: 14px;
                    }
                }
            }
        }
        .p__w_l_img_w:hover{
            form{
                .edit-your-photo{opacity: 1; cursor: pointer;}
            }
        }

        .p__w_l_links_w{
            position: relative; left: 0px; width: 100%; border-radius: 16px; border: 1px solid rgba(0,0,0,0.1); margin-top: 16px;
            padding: 16px;

            .social_network_wrapper{
                position: relative; width: 100%; padding: 6px 16px; border: 1px solid rgba(0,0,0,0.1); border-radius: 8px; margin-bottom: 8px;
                p{
                    margin: 0px;
                }
            }

            .share-your-links{
                margin: 0px;
            }
        }
    }

    .profile__wrapper_right{
        position: relative; width: calc(100% - 352px);
        .form-control{
            background: #FFFFFF; border-radius: 8px;
        }
        textarea{min-height: 120px !important; }
        .btn{
            background: #EA8BF3; color: #000000;
        }

        /* Sessions header */
        .sessions_header{
            position: relative; left: -16px; top: 0px; width: calc(100% + 32px); height: 40px; background: $dark; border-radius: 8px; margin-bottom: 16px;
            display: inline-flex; justify-content: space-between;
            .sessions_header_left{
                position: relative; left: 0px; top: 0px; width: calc(100% - 100px); height: 100%;
                p{
                    color:$white; margin: 0px; font-size: 18px; margin-left: 16px; margin-top: 6px;
                }
            }
            .sessions_header_right{
                margin-right: 16px; display: inline-flex;
                a{
                    .link_w{
                        width: 26px; height: 26px; border-radius: 8px; margin-top: 6px; border: 1px solid $white; margin-left: 8px; text-align: center;
                        i{
                            color:$white; font-size: 12px; margin-top: 6px;
                        }
                    }
                }
            }
        }

        /* Table preview */
        .giw-hc-header{
            position: relative; left: 0px; top: 0px; width: 100%;
            h1{
                color: $dark; margin: 0px; transition: 0.3s all;
                font-size: 44px;
            }
            p{
                color: $dark; margin-top: 20px; margin-bottom: 0px;
            }
        }
        .giw-hc-table{
            position: relative; left: 0px; top: 0px; width: 100%; min-height: 100px; margin-top: 32px; overflow-y: scroll;

            table{
                position: relative; left:0px; top:0px; width: 100%; max-width: 100%; overflow: scroll;
                tr{
                    width: 100%; min-height: 42px; display: inline-flex;  border-bottom: 1px solid $dark;

                    td{
                        min-height: 36px; width: calc(25% - 45px); padding-top: 12px; padding-bottom: 12px;
                        p{
                            //margin-top: 12px; margin-bottom: 0px;
                        }
                        .image-orange{display: none;}

                        a{
                            margin-top: -2px;
                            .session-table-btn{
                                height: 26px; border: 1px solid $dark; background: #EA8BF3; margin-top: 0px;
                                font-size: 14px; padding-top: 4px;
                            }
                        }
                    }

                    //.td-end{ text-align: right; background: grey; }

                    .td-flex{
                        display: inline-flex;
                        img{
                            height: 16px; margin-top: 3px; margin-right: 10px;
                        }
                        a{
                            display: inline-flex;
                        }
                    }

                    td:first-child{width: 60px; padding-left: 10px;}
                    td:last-child{ width: 120px; padding-right: 10px;}
                }
                tr:hover{
                    background: $dark;
                    td{
                        color: #EA8BF3;

                        .image-black{display: none;}
                        .image-orange{display: initial;}

                        a{color:#EA8BF3;}
                    }
                }
                .header{
                    background: $dark;
                    td{
                        color: #EA8BF3;
                    }
                }
            }
            .long-table{
                tr{
                    td{width: auto;}
                    td:nth-child(2){width: calc(100% - 120px); }
                }
                .body-tr:hover{
                    background: none;
                    td{
                        color:$dark;

                        .image-black{display: initial;}
                        .image-orange{display: none;}

                        a{color:$dark;}
                    }
                }
            }

            .hiw-hc-t-row{
                position: relative; left: 0px; top: 0px; width: 100%; height: 48px; display: inline-flex; justify-content: space-between; border-bottom: 1px solid $dark;
                margin-bottom: 6px;

                .t-col{
                    p{
                        margin-top: 12px;
                    }
                    img{
                        height: 16px; margin-top: 15px; margin-right: 10px;
                    }
                }
                .t-col-df{
                    display: inline-flex;
                }
                .t-col:first-child{
                    width: 60px; background: grey;
                }
                .t-col:last-child{
                    width: 120px;
                }
            }

            .hiw-hc-t-row:hover{
                background: $dark;

                .t-col{
                    p{color:#EA8BF3;}
                }
            }
        }

        /* Inbox design */
        .inbox_wrapper{
            position: relative; left: 0px; width: 100%; min-height: 120px;
            .msg_wrapper{
                position: relative; left: 0px; top:0px; width: 100%; min-height: 48px; margin-bottom: 16px;
                .msg_header{
                    position: relative; left: 0px; top:0px; width: 100%; height: 56px; border: 1px solid $dark; border-radius: 8px;
                    background: #EA8BF3;
                    display: inline-flex; justify-content: space-between;
                    .msg_from{
                        display: inline-flex; width: 220px;
                        img{
                            height: 16px; width: 20px; margin-left: 32px; margin-right: 16px; margin-top: 18px;
                        }
                        h5{
                            font-size: 18px; margin-top: 16px; margin-right: 32px;
                        }
                    }
                    .msg_title{
                        position: relative; width: calc(100% - 272px);
                        p{
                            font-size: 18px; margin-top: 13px;
                        }
                    }
                    .msg_arrow{
                        position: relative; width: 20px; margin-right: 32px;
                        i{
                            font-size: 18px; margin-top: 16px;
                        }
                    }
                }
                @media only screen and (max-width: 800px){
                    .msg_header{
                        flex-wrap: wrap; height: auto;
                        .msg_from{
                            width: 100%;
                            img{
                                margin-left: 16px;
                            }
                        }
                        .msg_title{
                            width: 100%; padding: 0px 16px;
                        }

                        .msg_arrow{
                            position: absolute; right: 16px; top: 0px; margin-right: 0px;
                        }
                    }
                }
                .msg_header_1{ background: $p1_bcg; }
                .msg_header_2{ background: $p2_bcg; }
                .msg_header_3{ background: $p3_bcg; }
                .msg_header_4{ background: $p4_bcg; }
                .msg_header_5{ background: $p5_bcg; }

                .msg_body{
                    position: relative; width: 100%; padding: 16px 32px; border: 1px solid $dark; border-radius: 8px; margin-top: 16px;
                    p{
                        margin: 0px;
                    }

                }
            }
        }
        .inbox__pagination{
            position: relative; width: 100%; height: 40px; text-align: center; display: flex; justify-content: center; margin-top: 16px;
            .pagination{
                display: flex; width: 100%; list-style: none; gap: 8px;
                li{
                    width: 32px; height: 32px; background: #ffffff; display: flex; justify-content: center; align-items: center; border: 1px solid rgba(0,0,0,0.1);
                    &.active{
                        background: $primary !important;
                        span{
                            color: #ffffff !important;
                        }
                    }
                    a{
                        color: #000000;
                    }

                    .page-link{
                        border-radius: 4px; background: $primary; border-color:$primary;
                    }
                    &.active > .page-link{
                        background: #000000; border-color:#000000;
                        color: $primary !important;
                    }
                }
                li:first-child, li:last-child{display: none;}
            }
        }

        /* My notes */
        .my__notes__wrapper{
            position: relative; left: 0px; top: 0px; width: 100%; gap: 16px; display: flex; flex-wrap: wrap;
            .my__note_wrapper{
                position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 16px;

                &.active{
                    .my__note_body{
                        display: flex;
                    }
                }

                .my__note__header{
                    position: relative; width: 100%; height: 80px; background: #EA8BF3; border-radius: 8px; display: flex; justify-content: space-between;
                    padding: 0px 32px;

                    @media only screen and (max-width: 1000px) {
                        height: auto; padding: 16px 16px;
                    }

                    .mnh__left, .mnh__right{
                        display: flex; gap: 8px; align-items: center; align-content: center; height: 100%;

                        img{
                            height: 20px; margin-top:0px;
                        }
                        p{
                            margin-top: 2px; margin-bottom: 0px;

                            span{
                                @media only screen and (max-width: 1000px) {
                                    width: 100%;
                                }
                            }
                        }
                        .notes_img{
                            margin-left: 24px;
                        }

                        .total_no{
                            position: relative; height: 20px; border-radius: 4px; display: flex; align-content: center; padding: 0px 4px; background: $white;
                            font-size: 12px; align-items: center; font-weight: bold;
                        }

                        .speaker_img, .presenter_name{
                            @media only screen and (max-width: 1000px) {
                                display: none;
                            }
                        }
                    }

                    .mnh__left{
                        @media only screen and (max-width: 1000px) {
                            flex-wrap: wrap; width: 100%;
                            .session__title{
                                width: 100%;
                            }
                        }
                    }
                    .mnh__right{
                        @media only screen and (max-width: 1000px) {
                            position: absolute; right: 16px; top: 16px;
                            align-content: flex-start; align-items: flex-start;
                        }
                    }

                }
                .my__note_body{
                    position: relative; width: 100%; background: #EEF0F2; border-radius: 8px; display: none; padding: 24px 16px; flex-wrap: wrap; gap: 16px;

                    .single__note{
                        position:relative; width: 100%; display: flex; justify-content: space-between; gap: 32px; transition: 0.3s all; padding: 0px 16px; border-radius: 8px;

                        @media only screen and (max-width: 1000px) {
                            padding: 0px; flex-wrap: wrap; gap: 16px;
                        }

                        .time__w{
                            width: 90px;
                            p{
                                font-weight: bold;
                            }

                            @media only screen and (max-width: 1000px) {
                                width: 100%;
                            }
                        }

                        .note_w{
                            width: calc(100% - 184px);
                            @media only screen and (max-width: 1000px) {
                                width: 100%;
                            }
                        }

                        .remove_w{
                            width: 30px; text-align: right;
                            img:hover{cursor: pointer;}

                            @media only screen and (max-width: 1000px) {
                                position: absolute; right: 16px; top: 0px;
                            }
                        }
                        p{
                            margin: 0px;
                        }
                    }
                    //.single_note:last-child{margin-bottom: 0px;}
                    .single__note:hover{
                        background: #FFFFFF; padding: 16px;
                    }
                }
            }
            .my__note_wrapper_1{ .my__note__header{ background: $p1_bcg; } }
            .my__note_wrapper_2{ .my__note__header{ background: $p2_bcg; } }
            .my__note_wrapper_3{ .my__note__header{ background: $p3_bcg; } }
            .my__note_wrapper_4{ .my__note__header{ background: $p4_bcg; } }
            .my__note_wrapper_5{ .my__note__header{ background: $p5_bcg; } }
            .my__note_wrapper_6{ .my__note__header{ background: $p6_bcg; } }
        }

        /* My Evaluations wrapper */
        .my__evaluations__wrapper{
            position: relative; left: 0px; top: 0px; width: 100%; gap: 16px; display: flex; flex-wrap: wrap; min-height: 60px;

            .single__evaluation{
                position: relative; width: 100%; display: flex; justify-content: space-between; border: 1px solid #000000; border-radius: 8px; padding: 16px 32px;
                @media only screen and (max-width: 1200px){
                    flex-wrap: wrap; gap: 16px;
                }
                .session__w{
                    display: flex; gap: 32px; align-content: center; width: calc(100% - 250px); justify-content: flex-start; flex-direction: row;
                    @media only screen and (max-width: 1200px){
                        width: 100%;
                    }
                    @media only screen and (max-width: 800px){
                        flex-wrap: wrap; gap: 16px;
                    }
                    p{ margin: 0px; font-weight: bold; }
                    .presenter__w, .session_name__w{
                        display: flex; gap: 16px; align-content: center; align-items: center;
                        p{ margin: 0px; font-weight: bold; }

                        @media only screen and (max-width: 800px){
                            width: 100%;
                        }
                    }
                    .session_name__w{
                        @media only screen and (max-width: 800px){
                            p{
                                font-size: 20px;
                            }
                        }
                    }
                }
                .evaluation__btn__w{
                    display: flex; align-items: center;
                    @media only screen and (max-width: 800px){
                        display: none;
                    }
                    a{
                        position: relative; display: flex;
                        .just_a_btn{
                            display:flex; align-items:center; padding: 8px 32px; background: #EA8BF3; gap: 16px; border-radius: 8px; border: 1px solid #000000;
                            p, svg{margin:0px;}
                        }
                    }
                }
            }

            // $p2_bps
            .single__evaluation_1{ background: $p1_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p1_bps; } } } }
            .single__evaluation_2{ background: $p2_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p2_bps; } } } }
            .single__evaluation_3{ background: $p3_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p3_bps; } } } }
            .single__evaluation_4{ background: $p4_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p4_bps; } } } }
            .single__evaluation_5{ background: $p5_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p5_bps; } } } }
            .single__evaluation_5{ background: $p6_bcg; .evaluation__btn__w{ a{ .just_a_btn{ background: $p6_bps; } } } }
            .single__evaluation_greyed{ background: #FFFFFF; .evaluation__btn__w{ a{ .just_a_btn{ background: #cccccc; } } } }

            .single__evaluation{
                @media only screen and (max-width: 800px){
                    background: none; padding: 0px; border: none;
                    .session__w{
                        .session_name__w{
                            p{font-size: 32px !important;}
                        }
                    }
                }
            }
        }

        .my__evaluations__form_w{
            position: relative; width: 100%; min-height: 120px; margin-top: 32px; display:  flex; flex-wrap: wrap; gap: 24px;

            .single__question{
                position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 8px;

                .question__w{
                    position: relative; width: 100%;
                    p{margin: 0px;}
                }
                .answers__wrapper{
                    position: relative; width: 100%;
                    textarea{
                        // background: rgba(0,0,0,0.1);
                        resize: none; height: 80px; border: 1px solid #333333; min-height: auto !important;
                    }
                }
            }
            .send_btn{
                position: relative; width: 100%;
            }
            .note__w{
                position: relative; width: 100%; display: flex; justify-content: space-between; gap: 24px; align-items: flex-start; background: #D8D9DA; border-radius: 16px; padding: 16px 32px;
                p{
                    margin: 0px;
                }
            }

            .form-check-input{
                // background: rgba(0,0,0,0.1);
                border: 1px solid #333333;
            }
            .form-check-input:checked{
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}

/*
 *  Department
 */
.department__wrapper{
    position: relative; left: calc(50% - $container-width-half); width: $container-width; display: flex; justify-content: space-between; padding: 0px 0px; flex-wrap: wrap;
    padding-bottom: 32px;

    @media only screen and (max-width: 1500px) {
        left: 50px; width: calc(100% - 100px);
    }
    @media only screen and (max-width: 800px) {
        left: 20px; width: calc(100% - 40px);
    }

    .header__wrapper{
        position: relative; width: 100%; padding: 32px 0px;
        h1{}
    }

    .users__wrapper{
        position: relative; width: 100%; display: flex; justify-content: flex-start; gap: 16px; flex-wrap: wrap;

        .single__user{
            position: relative; width: calc(25% - 12px); min-height: 120px; border-radius: 8px; overflow: hidden; background: #FFFFFF; transition: 0.3s all; border: 1px solid rgba(0,0,0,0.05);

            @media only screen and (max-width: 1500px) {
                width: calc(33% - 8px);
            }
            @media only screen and (max-width: 1100px) {
                width: calc(50% - 8px);
            }
            @media only screen and (max-width: 800px) {
                width: calc(100% - 0px);
            }
            .image__wrapper{
                position: relative; width: 100%; height: 260px; overflow: hidden;
                img{
                    height: 320px; width: 100%; object-fit: cover; object-position: top;
                }
                .cover-image{
                    height: 280px;
                }
            }
            .text__wrapper{
                position: relative; width: 100%; display: flex; padding: 32px 16px; flex-wrap: wrap;

                h4, p{width: 100%;}
                .buttons__wrapper{
                    position: relative; width: 100%; display: flex; justify-content: space-between; min-height: 30px; margin-top: 16px;
                    @media only screen and (max-width: 800px) {

                    }
                    flex-wrap: wrap; gap: 8px;

                    a{
                        display: flex; width: calc(100% - 0px); justify-content: center;
                        @media only screen and (max-width: 800px) {

                        }
                        button{
                            display: flex; gap: 8px; align-items: center; border-radius: 4px; border: 1px solid $black; padding: 6px 16px;
                            img, p{margin:0px; padding:0px;}

                            width: calc(100% - 0px); justify-content: center;
                            img{
                                height: 20px;
                            }
                            p{
                                width: auto;
                            }
                            @media only screen and (max-width: 800px) {

                            }
                        }
                    }
                }
            }
        }
    }
    .users__wrapper_1 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p1_bps;}}}} .single__user:hover{ background: $p1_pas; } }
    .users__wrapper_2 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p2_bps;}}}} .single__user:hover{ background: $p2_pas; } }
    .users__wrapper_3 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p3_bps;}}}} .single__user:hover{ background: $p3_pas; } }
    .users__wrapper_4 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p4_bps;}}}} .single__user:hover{ background: $p4_pas; } }
    .users__wrapper_5 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p5_bps;}}}} .single__user:hover{ background: $p5_pas; } }
    .users__wrapper_6 { .single__user{.text__wrapper{.buttons__wrapper{button{background: $p6_bps;}}}} .single__user:hover{ background: $p6_pas; } }
}
/*
 *  Preview users
 */
.preview__user_w{
    position: relative; left: calc(50% - $container-width-half); width: $container-width; display: flex; justify-content: space-between;
    padding: 32px 0px; gap: 32px;

    @media only screen and (max-width: 1500px) { left: 50px; width: calc(100% - 100px); }
    @media only screen and (max-width: 800px) { left: 20px; width: calc(100% - 40px); flex-wrap: wrap; gap: 20px; }

    .image__n_social__wrapper{
        position: relative; width: 380px; min-height: 420px; display: flex; flex-wrap: wrap; align-content: flex-start; gap: 32px;
        @media only screen and (max-width: 800px){
            width: 100%; min-height: auto;
        }
        .only__image__wrapper{
            position: relative; width: 380px; height: 340px; border-radius: 32px; overflow: hidden;

            @media only screen and (max-width: 800px){
                width: 100%; height: 360px;
            }
            img{
                width: 100%; object-fit: cover; object-position: center;
            }
        }
        .socials__wrapper{
            position: relative; width: 100%; height: 40px; display: flex; justify-content: center; gap: 16px; align-items: center;
            a{
                display: flex; align-items: center;
                img{
                    height: 20px;
                }
            }
        }
    }
    .text__wrapper{
        position: relative; width: calc(100% - 380px); display: flex; flex-wrap: wrap; gap: 32px; align-items: flex-start; align-content: flex-start;
        @media only screen and (max-width: 800px){
            width: 100%; gap: 16px;
        }
        .full__name{
            position: relative; width: 100%;
            h1{
                margin: 0px; font-size: 52px;
            }
            @media only screen and (max-width: 800px){
                h1{ font-size: 40px; }
                h2{ font-size: 26px; }
            }
        }
        .text__part{
            position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 16px;
            a{
                @media only screen and (max-width: 800px){
                    width: 100%;
                }
                .send__a__message{
                    position: relative; display: flex; gap: 8px; padding: 8px 32px; background: #EA8BF3; align-items: center; border-radius: 8px; justify-content: center;
                    @media only screen and (max-width: 800px){
                        width: 100%;
                    }
                    svg, p{ margin: 0px; }
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .profile__wrapper{
        left: 40px; width: calc(100% - 80px);
    }
}
@media only screen and (max-width: 800px){
    .profile__wrapper{
        flex-wrap: wrap; left: 20px; width: calc(100% - 40px);
        .profile__wrapper_left{
            width: 100%; display: none;
            .p__w_l_img_w{
                width: 100%;
            }
        }
        .my_profile{display: initial;}
        .profile__wrapper_right{width: 100%; border: 1px solid rgba(0,0,0,0.1); border-radius: 8px; padding: 16px; margin-top: 16px;}
        .profile__wrapper_right_schedule{
            padding: 0px; border: none;
        }
        .profile__wrapper_right_inbox, .profile__wrapper_right_my_notes{padding: 0px; border: none;}
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 *  Apply for scholarship
 */
.programs__wrapper{
    position: relative; left: 0px; top:0px; width: 100%; min-height: 120px; height: auto;
    .programs__wrapper_colored{
        position: relative; left: 0px; top: 0px; width: 100%;

        .single__program_wrapper{
            position: relative; left: calc(50% - $container-width-half); width: $container-width; min-height: 120px;
            display: none; justify-content: space-between; height: calc(100% - 160px); flex-wrap: wrap;

            .single__program_wrapper_left{
                position: relative; left: 0px; width: calc(50% - 32px); display: flex; align-items: center;

                h1{
                    font-size: 60px; font-weight: bold; margin-bottom: 0px;
                }
                h5{
                    font-size: 20px; font-weight: bold; margin-top: 32px;
                }

                .buttons-wrapper{
                    position: relative; width: 100%; height: 40px; gap:24px; margin-top: 32px;

                    a{
                        margin-right: 15px;
                        button{
                            border-radius: 8px; font-size: 16px; font-weight: bold; padding: 6px 32px; height: 42px; gap: 16px;

                            border: 1px solid $p1_primary;

                            img{
                                margin-right: 16px;
                            }
                            i{
                                margin-top: 2px; margin-right: 16px;
                            }
                        }
                    }
                }
            }
            .single__program_wrapper_right{
                position: relative; left: 0px; width: calc(50% - 0px);
                display: flex;
                justify-content: flex-end;
                align-items: center;   /* <---- NEW    */

                img{
                    max-width: 100%; max-height: 100%;
                }
            }
        }
        @media only screen and (max-width: 1500px){
            .single__program_wrapper{
                left: 40px; width: calc(100% - 80px);
            }
        }
        @media only screen and (max-width: 1000px){
            .single__program_wrapper{
                left: 20px; width: calc(100% - 40px);
                .single__program_wrapper_left{
                    width: 100%;
                    h1{
                        font-size: 32px;
                    }
                    h5{
                        font-size: 16px;
                    }
                    .buttons-wrapper{
                        gap: 0px; height: auto;
                        a{
                            button{
                                font-size: 14px; padding: 6px 16px; gap: 0px; margin-bottom: 8px;
                                img{
                                    margin-right: 8px;
                                }
                                i{margin-right: 8px}
                            }
                        }
                    }
                }
                .single__program_wrapper_right{
                    width: 100%; height: auto;

                    img{
                        width: 100%; height: auto;
                    }
                }
            }
        }

        .single__program_wrapper:first-child{display: inline-flex;}
        .single__program_wrapper_arrows{
            position: absolute; bottom: 80px; left: calc(50% - $container-width-half); width: $container-width; height: 40px;
            display: inline-flex; justify-content: flex-end; gap: 15px;

            .p__sbw_btn{
                border-radius: 8px; border: 1px solid $dark; padding: 6px 20px;
            }
            .p__sbw_btn:hover{cursor: pointer;}
        }
        @media only screen and (max-width: 1500px){
            .single__program_wrapper_arrows{
                left: 40px; width: calc(100% - 80px);
            }
        }
        @media only screen and (max-width: 1000px){
            .single__program_wrapper{
                margin-top: 32px; height: auto;
            }
            .single__program_wrapper_arrows{
                left: 20px; width: calc(100% - 40px); position: relative; bottom: 0px; margin-bottom: 32px; justify-content: center;
                height: auto; margin-top: 32px;
            }
        }
    }
    .programs__wrapper_colored_1{
        background: $p1_bcg;
        .single__program_wrapper{
            .single__program_wrapper_left{
                .buttons-wrapper{
                    a{
                        button{
                            background: $p1_bps;
                        }
                    }
                }
            }
        }
    }
    .programs__wrapper_colored_2{
        background: $p2_bcg;
        .single__program_wrapper{
            .single__program_wrapper_left{
                .buttons-wrapper{
                    a{
                        button{
                            background: $p2_bps;
                        }
                    }
                }
            }
        }
    }
    .programs__wrapper_colored_3{
        background: $p3_bcg;
        .single__program_wrapper{
            .single__program_wrapper_left{
                .buttons-wrapper{
                    a{
                        button{
                            background: $p3_bps;
                        }
                    }
                }
            }
        }
    }
    .programs__wrapper_colored_4{
        background: $p4_bcg;
        .single__program_wrapper{
            .single__program_wrapper_left{
                .buttons-wrapper{
                    a{
                        button{
                            background: $p4_bps;
                        }
                    }
                }
            }
        }
    }
    .programs__wrapper_colored_5{
        background: $p5_bcg;
        .single__program_wrapper{
            .single__program_wrapper_left{
                .buttons-wrapper{
                    a{
                        button{
                            background: $p5_bps;
                        }
                    }
                }
            }
        }
    }
}


@import "chat";
