body {
    font-family: "Gimlet Sans Variable", sans-serif;

    //font-family: "Gimlet Sans Variable";
    font-display: swap;

    //p{
    //    letter-spacing: 1px;
    //    line-height: 1.8;
    //}
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

// Colors 2024
// $dark: #070600;
// $primary: #EA8BF3;

// Colors
$dark: #333366;
$primary: #66cccc;
$text-white: #EEF0F2;
$white: #E7E7E7;

// Constants
$container-width: 1500px;
$container-width-half: 750px;
$menu-mobile-width: 1200px;
$break-width: 1000px;

$transition: all 0.4s ease-in-out;
$box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;

$mobile-width: 800px;

/* Application deadline (Program part) */
$medium-width: 900px;
$medium-width-half: 450px;

// Font sizes
$headerSize : 60px;

/* Writing */
$p1_primary : #070600;
$p1_bcg : #F27E9D;
$p1_pac : #FFCC33;
$p1_bps : #FFCC33;
$p1_pas : #F27E9D;
$p1_pc  : #FFCC33;

/* Journalism */
$p2_primary : #070600;
$p2_bcg : #99CC33;
$p2_pac : #FF6633;
$p2_bps : #FF6633;
$p2_pas : #99CC33;
$p2_pc  : #FF6633;

/* Applied music */
$p3_primary : #070600;
$p3_bcg : #FF6633;
$p3_pac : #66CCCC;
$p3_bps : #66CCCC;
$p3_pas : #FF6633;
$p3_pc  : #66CCCC;

/* CivicTech */
$p4_primary : #070600;
$p4_bcg : #66CCCC;
$p4_pac : #FF6633;
$p4_bps : #FF6633;
$p4_pas : #66CCCC;
$p4_pc  : #FF6633;

/* Design */
$p5_primary : #070600;
$p5_bcg : #FFCC33;
$p5_pac : #CAA8F5;
$p5_bps : #CAA8F5;
$p5_pas : #FFCC33;
$p5_pc  : #CAA8F5;

/* Some thinking .. */
$p6_primary : #070600;
$p6_bcg : #DAC0FB;
$p6_pac : #CDEEF2;
$p6_bps : #EA8BF3;
$p6_pas : #CDEEF2;
$p6_pc  : #4B53F3;

/* Transition constants */
$transition02 : 0.2s all;


.no__select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
