body {
    font-family: gimlet-sans-variable, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

// Colors
$dark: #070600;
$primary: #EA8BF3;
$text-white: #EEF0F2;

// Constants
$container-width: 1500px;
$mobile-width: 800px;
