body {
    font-family: gimlet-sans-variable, sans-serif;

    //font-family: "Gimlet Sans Variable";
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

// Colors
$dark: #070600;
$primary: #EA8BF3;
$text-white: #EEF0F2;
$white: #E7E7E7;

// Constants
$container-width: 1500px;
$container-width-half: 750px;
$menu-mobile-width: 1200px;
$break-width: 1000px;

$mobile-width: 800px;

/* Application deadline (Program part) */
$medium-width: 900px;
$medium-width-half: 450px;

// Font sizes
$headerSize : 60px;

/* Writing */
$p1_primary : #070600;
$p1_bcg : #DAC0FB;
$p1_pac : #F45B69;
$p1_bps : #F45B69;
$p1_pas : #DAC0FB;
$p1_pc  : #F45B69;

/* Journalism */
$p2_primary : #070600;
$p2_bcg : #757BF6;
$p2_pac : #CDEEF2;
$p2_bps : #82C0EB;
$p2_pas : #757BF6;
$p2_pc  : #CDEEF2;

/* Applied music */
$p3_primary : #070600;
$p3_bcg : #DBFF8F;
$p3_pac : #EEF0F2;
$p3_bps : #C8D8A6;
$p3_pas : #DBFF8F;
$p3_pc  : #CAA8F5;

/* CivicTech */
$p4_primary : #070600;
$p4_bcg : #0E8C80;
$p4_pac : #CDEEF2;
$p4_bps : #6AC0B7;
$p4_pas : #CDEEF2;
$p4_pc  : #EA8BF3;

/* Design */
$p5_primary : #070600;
$p5_bcg : #F45B69;
$p5_pac : #CAA8F5;
$p5_bps : #EE939B;
$p5_pas : #CAA8F5;
$p5_pc  : #EA8BF3;

/* Some thinking .. */
$p6_primary : #070600;
$p6_bcg : #DAC0FB;
$p6_pac : #CDEEF2;
$p6_bps : #EA8BF3;
$p6_pas : #CDEEF2;
$p6_pc  : #4B53F3;

/* Transition constants */
$transition02 : 0.2s all;
