.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;

    .locations__container {
        width: 100%;
        max-width: $container-width;

        @media (max-width: $container-width) {
            padding: 0px 24px;
        }

        .locations__header {
            padding: 64px 0;

            .locations__title {
                font-size: 56px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: $text-white;
            }

            .locations__subtitle {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $primary;
            }

            .locations__description {
                max-width: 574px;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: $text-white;
            }
        }

        .locations__list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            row-gap: 64px;
            column-gap: 32px;

            .locations__list-item {
                position: relative;
                width: calc(50% - 16px);
                border-radius: 16px;
                border: 1px solid $text-white;
                overflow: hidden;
            }

            .locations__list-image {
                height: 550px;
                width: 100%;
            }

            .locations__list-item-title {
                padding: 0 32px;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: $text-white;
                padding-top: 16px;
            }

            .locations__list-item-address {
                padding: 0 32px;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $primary;
            }

            .locations__list-item-buttons {
                padding: 32px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 21px;

                .locations__list-item-button {
                    display: flex;
                    padding: 8px 32px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    border: 1px solid $primary;
                    background: $primary;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 150%;
                    gap: 8px;

                    &.locations__list-item-button--outlined {
                        border-radius: 8px;
                        border: 1px solid $primary;
                        background: transparent;
                        color: $primary;
                    }
                }
            }

            .locations__list-item-map {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
                width: 100%;
                object-fit: cover;
                object-position: center;

                &.locations__list-item-map--opened {
                    height: 553px;
                }
            }

            .locations__map-toggle-icon-container {
                position: absolute;
                top: 14px;
                right: 12px;
                padding: 6px;
                background: $dark;
                border-radius: 8px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}
