.hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;

    .hero-section__container {
        width: 100%;
        max-width: $container-width;

        @media (max-width: $container-width) {
            padding: 0 24px;
        }

        .hero-section__upper-section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hero-section__upper-section-text {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $text-white;
            }

            .hero-section__upper-section-avatars-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 32px;

                .hero-section__upper-section-avatars {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(30px);

                    .hero-section__upper-section-avatar {
                        height: 45px;
                        width: 45px;
                        border-radius: 100%;
                        border: 2px solid $text-white;

                        &:nth-child(2) {
                            transform: translateX(-10px);
                        }

                        &:nth-child(3) {
                            transform: translateX(-20px);
                        }

                        &:nth-child(4) {
                            transform: translateX(-30px);
                        }
                    }
                }

                .hero-section__upper-section-lecturers-count {
                    color: $text-white;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            @media (max-width: $mobile-width) {
                display: none;
            }
        }

        .hero-section__arrows {
            padding: 68px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 27px;

            .hero-section__arrow {
                width: calc(25% - 27px);

                @media (max-width: $mobile-width) {
                    width: calc(50% - 27px);
                }

                &:nth-child(2) {
                    rotate: 90deg;
                }

                &:nth-child(3) {
                    rotate: 270deg;

                    @media (max-width: $mobile-width) {
                        display: none;
                    }
                }

                &:nth-child(4) {
                    rotate: 180deg;

                    @media (max-width: $mobile-width) {
                        display: none;
                    }
                }
            }
        }

        .hero-section__heading {
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            color: $text-white;
            margin-top: 64px;

            @media (max-width: $mobile-width) {
                margin-top: 32px;
            }
        }

        .hero-section__subheading {
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            color: $primary;
        }

        .hero-section__bottom-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 32px;
            margin-top: 32px;
            margin-bottom: 64px;
            @media (max-width: $mobile-width) {
                margin-bottom: 32px;
            }

            @media (max-width: $mobile-width) {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .hero-section__bottom-section-text {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $text-white;

                @media (max-width: $mobile-width) {
                    width: 100%;
                    justify-content: flex-start;
                }
            }

            .hero-section__bottom-section-button {
                display: flex;
                padding: 8px 23px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                color: $primary;
                border: 1px solid $primary;
            }

            .hero-section__bottom-section-learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: $primary;
            }
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F45B69;

    .features__container {
        width: 100%;
        max-width: $container-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        @media (max-width: $mobile-width) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .features__content {
            padding: 32px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 32px;

            @media (max-width: $mobile-width) {
                width: 100%;
                padding: 0;
            }

            .features__heading {
                color: $dark;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }

            .features__text {
                color: $text-white;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }

            .features__button {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: $dark;
            }
        }

        .features__image {
            padding: 32px;
            width: 50%;

            @media (max-width: $mobile-width) {
                width: 100%;
                padding: 0;
            }

            & img {
                width: 100%;
            }
        }

    }

    &.features--variant-one {
        background: $text-white;

        .features__container {
            flex-direction: row-reverse;

            @media (max-width: $mobile-width) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        .features__heading {
            color: #EA8BF3!important;
        }

        .features__text {
            color: $dark!important;
        }
    }

    &.features--variant-two {
        background: #EA8BF3;
    }
}

.programs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;

    .programs__container {
        width: 100%;
        max-width: $container-width;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        .programs__heading {
            color: $text-white;
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .programs__content {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 32px;
            flex-shrink: 0;
            margin-top: 32px;

            .programs__program {
                height: 350px;
                position: relative;
                width: calc(33.33% - 22px);
                padding: 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background: #EEF0F2;
                border-radius: 30px;
                border: 1px solid #000;
                cursor: pointer;

                @media (max-width: 900px) {
                    width: calc(50% - 22px);
                }

                @media (max-width: 600px) {
                    width: 100%;

                    &:nth-child(1) {
                        background: #DAC0FB;
                    }

                    &:nth-child(2) {
                        background: #757BF6;
                    }

                    &:nth-child(3) {
                        background: #DBFF8F;
                    }

                    &:nth-child(4) {
                        background: #0E8C80;
                    }

                    &:nth-child(5) {
                        background: #F45B69;
                    }

                    &:nth-child(6) {
                        background: #DAC0FB;
                    }
                }

                .programs__program-heading {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    text-align: center;
                }

                .programs__program-image {
                    margin-top: 50px;
                }

                .programs__program-icon {
                    position: absolute;
                    top: 32px;
                    right: 32px;
                }
            }
        }
    }
}

.how-to-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA8BF3;

    .how-to-apply__container {
        width: 100%;
        max-width: $container-width;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        .how-to-apply__heading {
            color: $dark;
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-align: center;
            padding-bottom: 32px;

            @media (max-width: $mobile-width) {
                font-size: 48px;
            }
        }

        .how-to-apply__step {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 64px;

            @media (max-width: $mobile-width) {
                flex-direction: column-reverse;

                .how-to-apply__step-image {
                    width: 100%;
                }

                .how-to-apply__step-heading {
                    font-size: 24px;
                }
            }
        }

        .how-to-apply__step-image {
            width: calc(50% - 64px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .how-to-apply__step-heading {
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .how-to-apply__step-text {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .how-to-apply__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 32px;

        .how-to-apply__pagination-item {
            height: 40px;
            width: 40px;
            border: 1px solid $dark;
            border-radius: 8px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: $mobile-width) {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }

            &.how-to-apply__pagination-item--active {
                background: $dark;
                color: #EA8BF3;
            }
        }
    }
}

