.single-blog__header-images {
    //margin-top: 32px;
    position: relative;
    background-color: $dark;
    display: flex;
    width: 100%;
    overflow-y: auto;
    height: 400px;

    .img-one{
        position: absolute; left: 0px; top: 0px; object-fit: cover;
    }
    .img-two{
        position: absolute; left: 0px; top: 0px; object-fit: cover; z-index:50; right:0px; margin:auto;
    }
    .img-three{
        position: absolute; right: 0px; top: 0px; object-fit: cover;
    }
    img {
        min-width: $container-width;
        height: 400px;
        object-fit: cover;
    }
}
@media (max-width: 1000px){
    .single-blog__header-images{
        .img-one, .img-three{display: none;}
        .img-two{
            position: relative; object-fit: cover; left: initial;
        }
    }
}

.single-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    padding-top: 64px;

    .single-blog__container {
        width: 100%;
        max-width: $container-width;

        @media (max-width: $container-width) {
            padding: 0px 24px;
        }
    }

    .single-blog__title {
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        color: $text-white;
    }

    .single-blog__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        margin-top: 64px;

        .single-blog__content-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            min-width: 208px;

            .single-blog__content-left-text {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $primary;
            }

            .single-blog__content-social-icons {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                margin-top: 32px;

                .single-blog__content-social-icon {
                    display: flex;
                    padding: 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid $primary;
                }
            }
        }

        .single-blog__content-right {
            color: $text-white;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            text-align: justify;

            br {
                height: 16px;
                width: 1px;
            }
        }
    }

    @media (max-width: 1000px){
        .single-blog__content{
            flex-wrap: wrap;
            .single-blog__content-left{
                width: 100%;
            }
        }
    }
    @media (max-width: 800px){
        .single-blog__title{ font-size: 32px; }
        .single-blog__content{
            .single-blog__content-left{
                .single-blog__content-left-text{

                }
            }
        }
    }

    .single-blog__images {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 64px 0;
        border-bottom: 1px solid rgba(238, 240, 242, 0.30);

        img {
            width: 33.33%;
            height: 360px;
        }
    }
}
