.single-blog__header-images {
    //margin-top: 32px;
    position: relative;
    background-color: $dark;
    display: flex;
    width: 100%;
    overflow-y: auto;
    height: 400px;

    .img-one{
        position: absolute; left: 0px; top: 0px; object-fit: cover;
    }
    .img-two{
        position: absolute; left: 0px; top: 0px; object-fit: cover; z-index:50; right:0px; margin:auto;
    }
    .img-three{
        position: absolute; right: 0px; top: 0px; object-fit: cover;
    }
    img {
        min-width: $container-width;
        height: 400px;
        object-fit: cover;
    }
}
@media (max-width: 1000px){
    .single-blog__header-images{
        .img-one, .img-three{display: none;}
        .img-two{
            position: relative; object-fit: cover; left: initial;
        }
    }
}

.single-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    padding-top: 64px;

    .single-blog__container {
        width: 100%;
        max-width: $container-width;

        @media (max-width: $container-width) {
            padding: 0px 24px;
        }
    }

    .single-blog__title {
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        color: $text-white;
    }

    .single-blog__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        margin-top: 64px;

        .single-blog__content-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            min-width: 208px;

            .single-blog__content-left-text {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $primary;
            }

            .single-blog__content-social-icons {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                margin-top: 32px;

                .single-blog__content-social-icon {
                    display: flex;
                    padding: 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid $primary;
                }
            }
        }

        .single-blog__content-right {
            color: $text-white;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            text-align: justify;

            br {
                height: 16px;
                width: 1px;
            }
        }
    }

    @media (max-width: 1000px){
        .single-blog__content{
            flex-wrap: wrap;
            .single-blog__content-left{
                width: 100%;
            }
        }
    }
    @media (max-width: 800px){
        .single-blog__title{ font-size: 32px; }
        .single-blog__content{
            .single-blog__content-left{
                .single-blog__content-left-text{

                }
            }
        }
    }

    .single-blog__images {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 64px 0;
        border-bottom: 1px solid rgba(238, 240, 242, 0.30);

        .img__wrapper{
            width: 33.33%; height: 360px; overflow: hidden; position: relative;

            img {
                object-fit: fill; min-width: 100%; min-height: 100%;
            }
            .gallery_shadow{
                position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);
                z-index: 100; transition: 0.2s all; opacity: 0;
                .open_icon_w{
                    position: absolute; right: 32px; top: 32px; width: 32px; height: 32px;
                    text-align: center;

                    i{
                        font-size: 32px; color: $white;
                    }
                }
            }
        }
        .img__wrapper:hover{
            cursor: pointer;
            .gallery_shadow{
                opacity: 1;
            }
        }
    }
}


.image__wrapper{
    position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 10000;

    .close_gallery{
        position: absolute; right: 32px; top: 32px;
        i{
            color:#EA8BF3; font-size: 64px; transition: 0.2s all;
        }
    }
    .close_gallery:hover{
        cursor: pointer;
        i{
            rotate: -180deg;
        }
    }
    .img__wrapper_inside{
        position: absolute; left: 15%; top: 100px; height: calc(100% - 200px); width: 70%;

        img{
            position: absolute; left:0px; top:0px; right:0px; bottom: 0px; max-width: 100%; max-height: 100%; margin:auto;
        }
    }

    .arrows_wrapper{
        position: absolute; bottom: 32px; left: 32px; width: calc(100% - 64px); height: 40px;
        display: inline-flex; justify-content: flex-end;

        gap: 16px;

        .gallery__navigation-button {
            display: flex;
            height: 35.754px;
            padding: 8px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: $primary;
            border-radius: 8px;
            border: 1px solid #000;
            background: var(--Surface-and-accents-accent, $primary);
            outline: unset;

            transition: $transition;

            &:hover {
                background: lighten($primary, 5%)
            }
        }
    }

    @media (max-width: $mobile-width){
        .close_gallery{
            top: 20px; right: 20px;
            i{
                font-size: 32px;
            }
        }
        .img__wrapper_inside{
            left: 20px; width: calc(100% - 40px);
        }
        .arrows_wrapper{
            bottom: 20px; left: 20px; width: calc(100% - 40px);
        }
    }
}


.image-preview{
    position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index: 10000;

    .ip-post-preview{
        position: absolute; width: 70%; top: 100px; height: calc(100% - 200px); background: #333; left: 15%;
        border-radius: 4px; overflow: hidden;

        img{
            position: absolute; left:0px; top:0px; right:0px; bottom: 0px; max-width: 100%; max-height: 100%; margin:auto;
        }
        .upper-icons{
            position: absolute; left: 0px; top:0px; width: 100%; height: 360px; background: #333;
            display: inline-flex; justify-content: space-between;
            .ui-icon-wrapper{
                position: relative; width: 36px; height: 36px; background: #F5F5F5; border-radius: 50%; z-index: 1000; margin-left: 15px; margin-top: 15px; text-align: center;
                .fa-times{
                    position: relative; font-size: 24px; margin-top:6px;
                }
            }
            .ui-icon-wrapper:hover{cursor:pointer;}
        }
        .post-details{
            position: absolute; left: 0px; bottom: 0px; width: 100%;  background: rgba(0,0,0,0.3); padding-bottom: 15px; padding-top: 15px;

            h4{
                margin-left: 15px; color:#fff; margin-top:15px; font-size: 22px;
            }
            p{
                color:#fff;  font-size: 12px; margin: 0px 15px;
                i{margin-left: 6px;}
            }
            .description{font-size: 15px;}
        }
        .arrow-icon-wrapper{
            position: absolute; left: 15px; width: 36px; height: 36px; top: calc(50% - 18px); background: rgba(0,0,0,0.6); z-index: 10000; border-radius: 50%;
            text-align: center;
            i{
                color:#fff; font-size: 24px; margin-top: 6px; margin-right: 2px;
            }
        }
        .right-arrow-icon-wrapper{
            left: calc(100% - 51px);
            i{margin-right: -2px;}
        }
        .arrow-icon-wrapper:hover{cursor:pointer;}
    }
}

@media only screen and (max-width: 800px){
    .image-preview{
        .ip-post-preview{
            left: 0px; top:0px; width: 100%; height: 100%;
        }
    }
}
