.preview__cover{
    position: relative; width: 100%; background: $p1_bcg;
    align-items: center;  display: flex;
    .preview__cover_iw{
        position: relative; padding: 96px 0px;
        left: calc(50% - $container-width-half); width: $container-width; display: inline-flex; justify-content: space-between;
        align-items: center;
        .p__c_iw_img{
            width: calc(50% - 24px);
            img{
                width: 100%;
            }
        }
        .p__c_iw_text{
            width: calc(50% - 24px);
            h1{
                font-weight: bold; font-size: 60px; max-width: 80%;
            }
            p{
                font-size: 20px; font-weight: bold;
            }
        }
        .p__c_iw_buttons{
            position: relative; width: 100%; height: 40px; gap:24px;

            a{
                margin-right: 15px;
                button{
                    border-radius: 8px; font-size: 16px; font-weight: bold; padding: 8px 24px; height: 40px;

                    border: 2px solid $p1_primary;
                    background: $p1_pac;
                }
            }
        }
    }

    @media only screen and (max-width: $container-width){
        .preview__cover_iw{
            left: 40px; width: calc(100% - 80px);

            .p__c_iw_img{

            }
        }
    }

    @media only screen and (max-width: 1000px){
        .preview__cover_iw{
            flex-wrap: wrap; left: 20px; width: calc(100% - 40px);

            .p__c_iw_img, .p__c_iw_text{
                width: 100%;
            }

            .p__c_iw_text{
                margin-top: 48px;
                h1{
                    font-size: 40px; max-width: 100%;
                }
                p{
                    font-size: 16px;
                }
            }
            .p__c_iw_buttons{
                a{
                    button{
                        padding: 8px 14px; margin: 0px;
                    }
                }
            }
        }
    }
}


/* ------------------------------------------------------------------------------------------------------------------ */
/*
 * Presenters scrollbar
 */

.presenters__scrollbar{
    position: relative; width: 100%; display: flex; padding: 96px 0px 48px 0px; display: flex; flex-wrap: wrap;

    .presenters__scrollbar_w{
        position: relative; left: calc(50% - $container-width-half); width: $container-width;  min-height: 700px;

        margin-top: 48px;

        .single__presenter{
            //position: relative; width: 532px; height: 700px; background: grey; border: 1px solid $dark; border-radius: 8px;
        }
    }

    //ENABLE CSS GRID FOR LIFT OFF 🚀
    @supports(display: grid) {
        .slider_w {
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            transition: all 0.2s;
            //transform: scale(0.98);
            will-change: transform;
            user-select: none;
            cursor: pointer;
        }

        /* Remove slider */
        .slider_w::-webkit-scrollbar{
            height: 0px;
            width: 0px;
            // background: gray;
        }
        .slider_w::-webkit-scrollbar-thumb:horizontal{
            // background: #000;
            // border-radius: 10px;
        }

        //.items.active {
        //    background: rgba(255,255,255,0.3);
        //    cursor: grabbing;
        //    cursor: -webkit-grabbing;
        //    transform: scale(1);
        //}

        .single__presenter {
            display: inline-block;
            overflow: hidden;

            position: relative; width: 532px; border: 1px solid $dark; border-radius: 8px;
            margin-right: 15px;

            .sp__image{
                position: relative; width: 100%;
                img{
                    width: 100%; margin-top: -3px;
                }
            }
            .sp__btn_w{
                position: relative; left: 15px; width: calc(100% - 30px);
                button{
                    height: 36px; border-radius: 18px; background: $p1_pac; font-weight: bold;
                    border: none; padding: 0px 20px; margin: 15px 0px;
                }
            }
            .sp__text_w{
                position: relative; left: 15px; width: calc(100% - 30px);
                white-space: normal; min-height: 240px;

                h1, h2{
                    font-weight: bold;
                }
                p{
                    width: 100%;
                }
            }
            .sp__icons_w{
                position: relative; left: 15px; width: calc(100% - 30px); height: 50px;
                a{
                    margin-right: 15px;
                }
            }

            @media screen and (max-width: 500px) {
                min-height: 200px;
                min-width: 200px;
            }
        }
        .single__presenter:last-child{margin-right: 0px;}
    }

    .presenters__scrollbar_btn_w{
        position: relative; left: calc(50% - $container-width-half); width: $container-width;  min-height: 40px;
        display: inline-flex; justify-content: flex-end; gap: 15px;

        .p__sbw_btn{
            border-radius: 8px; border: 1px solid $dark; padding: 6px 20px;

            img{

            }
        }
    }

    @media only screen and (max-width: $container-width){
        .presenters__scrollbar_w, .presenters__scrollbar_btn_w { left: 40px; width: calc(100% - 80px); }
    }
    @media only screen and (max-width: $break-width){
        .presenters__scrollbar_w, .presenters__scrollbar_btn_w { left: 20px; width: calc(100% - 40px); }
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 * Programs
 */
.programs__grid{
    position: relative; width: 100%; display: flex; padding: 48px 0px 96px 0px; display: flex; flex-wrap: wrap;

    .programs__grid_iw{
        position: relative; left: calc(50% - $container-width-half); width: $container-width;
        display: inline-flex; justify-content: flex-start; flex-wrap: wrap; gap: 20px; margin-top: 32px;

        .pg__sample{
            position: relative; width: calc(33.33% - 20px); border: 1px solid $dark; border-radius: 16px;
            padding: 32px; transition: $transition02;
            h1{
                font-weight: bold; font-size: 50px; transition: $transition02;
            }
            .pg_sample__row{
                position: relative; width: 100%; display: inline-flex; justify-content: flex-start;
                padding: 8px 0px;
                img{
                    height: 24px;
                }
                h5{
                    font-size: 24px; font-weight: bold; margin-left: 16px; transition: $transition02;
                }
            }
            p{
                font-weight: bold; font-size: 18px; transition: $transition02;
            }
        }
        .pg__sample:hover{
            background: $dark; cursor: pointer;
            h1{
                color: $p1_bcg;
            }
            .pg_sample__row{
                h5{
                    color: $p1_pac;
                }
            }
            p{
                color: $p1_pac;
            }
        }
    }

    /* Pagination */
    .programs__grid_pagination{
        position:relative; left: calc(50% - $container-width-half); width: $container-width; display: inline-flex; justify-content: center; gap: 16px;
        margin-top: 32px;

        .page-w{
            width: 40px; height: 40px; border-radius: 8px; border: 1px solid $dark;
            display: flex;
            justify-content: center;
            align-items: center;   /* <---- NEW    */

            background: $p1_pac;

            p{margin: 0px; padding: 0px; font-weight: bold;}
        }
    }

    @media only screen and (max-width: $container-width){
        .programs__grid_iw{
            left: 40px; width: calc(100% - 80px);
        }
    }
    @media only screen and (max-width: $break-width){
        .programs__grid_iw{
            left: 20px; width: calc(100% - 40px);

            .pg__sample{
                width: calc(50% - 10px);
            }
        }
    }
    @media only screen and (max-width: $mobile-width){
        .programs__grid_iw{
            .pg__sample{
                width: 100%;
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*
 * Live counter
 */
.preview__counter{
    position: relative; width: 100%; display: flex; padding: 48px 0px 96px 0px; display: flex; flex-wrap: wrap; background: $dark;
    .preview__counter_iw{
        position: relative; left: calc(50% - $medium-width-half); width: $medium-width; text-align: center;

        h1{
            font-weight:bold; font-size: 50px; color: $white;
        }
        p{
            font-weight: bold; font-size: 20px; margin-top: 16px;

            color: $p1_bcg;
        }

        .counter__w{
            position: relative; width: 100%; display: inline-flex; justify-content: space-between;

            .c__num{
                width: 170px; height: 170px; justify-content: center; display: flex; align-items: center;
                border: 2px solid $p1_bcg; border-radius: 50%;

                p{
                    font-size: 100px; font-weight: bold; margin-top: 35px; padding: 0px;

                    color: $p1_bcg;
                }
            }
            span{
                font-size: 100px; font-weight: bold; color: $p1_bcg; margin-top: 10px;
            }
        }
        .counter__btn{
            position: relative; width: 100%; display: inline-flex; justify-content: center; margin-top: 64px;
            a{
                .app_btn{
                    display: inline-flex; padding: 6px 24px; gap: 16px; border-radius: 8px; border: none;

                    background: $p1_pac;
                    img{

                    }
                    p{ font-size: 16px; color: $dark; margin: 0px; }
                }
            }
        }
    }

    @media only screen and (max-width: $break-width){
        .preview__counter_iw{
            left: 40px; width: calc(100% - 80px);

            h1{ font-size: 40px; }
            p{font-size: 18px;}
            .counter__w{
                .c__num{
                    width: 120px; height: 120px;

                    p{
                        font-size: 60px; margin-top: 26px;
                    }
                }
                span{
                    font-size: 60px;
                }
            }
        }
    }
    @media only screen and (max-width: $mobile-width){
        .preview__counter_iw{
            h1{ font-size: 30px; }
            p{font-size: 16px;}

            .counter__w{
                .c__num{
                    width: 60px; height: 60px;

                    p{
                        font-size: 26px; margin-top: 20px;
                    }
                }
                span{
                    font-size: 26px;
                }
            }
        }
    }
}
