/*
 *  How to apply
 */

.how-to-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;

    .how-to-apply__container {
        width: 100%;
        max-width: $container-width;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        .how-to-apply__heading {
            color: $dark;
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-align: center;
            padding-bottom: 32px;

            @media (max-width: $mobile-width) {
                font-size: 48px;
            }
        }

        .how-to-apply__step {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 64px;

            @media (max-width: $mobile-width) {
                flex-direction: column-reverse;

                .how-to-apply__step-image {
                    width: 100%;
                }

                .how-to-apply__step-heading {
                    font-size: 24px;
                }
            }
        }

        .how-to-apply__step-image {
            width: calc(50% - 64px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .how-to-apply__step-heading {
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .how-to-apply__step-text {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .how-to-apply__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 32px;

        .how-to-apply__pagination-item {
            height: 40px;
            width: 40px;
            border: 1px solid $dark;
            border-radius: 8px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: $mobile-width) {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }

            &.how-to-apply__pagination-item--active {
                background: $dark;
                color: $primary;
            }
        }
    }
}

/* ToDo: Rest of colors .. */
.how-to-apply-bg-white{ background: $white; }

/*
 *  Shared snake elem
 */
.snake {
    width: 100%;
    background-color: $dark;

    .snake__image {
        width: 100%;

        &.snake__image--mobile {
            display: none;
        }

        @media (max-width: $mobile-width) {
            display: none;

            &.snake__image--mobile {
                display: block;
            }
        }
    }
}
.snake_1{

}

/*
 *  FAQ
 */
.faq {
    display: flex;
    justify-content: center;
    align-items: center;

    .faq--rotate-svg {
        transform: rotate(180deg);
    }

    .faq__container {
        width: 100%;
        max-width: $container-width;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        .faq__heading {
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;

            @media (max-width: $mobile-width) {
                font-size: 48px;
            }
        }

        .faq__description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        .faq__list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .faq__list-item {
                width: 100%;
                padding: 20px 0;
                border-top: 1px solid $dark;

                &:last-child {
                    border-bottom: 1px solid $dark;
                }

                .faq__list-item-question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }

                .faq__list-item-answer {
                    display: none;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;

                    &.faq__list-item-answer--active {
                        display: block;
                    }
                }
            }
        }
    }
}

/*
 *  Contact FORM
 */
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;

    .contact__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: $container-width;
        padding: 64px 0;

        @media (max-width: $container-width) {
            padding: 64px 24px;
        }

        .contact__title {
            font-size: 56px; font-style: normal; font-weight: 500; line-height: 120%; color: $text-white;
        }

        .contact__description {
            font-size: 16px; font-style: normal; font-weight: 400; line-height: 150%; color: $primary;
        }

        .contact__form {
            max-width: 816px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
            flex-wrap: wrap;
            padding-top: 32px;

            .contact__form-input-container {
                width: calc(50% - 8px);
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 4px;

                @media (max-width: $mobile-width) {
                    width: 100%;
                }

                .contact__form-label {
                    color: $text-white;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }

                .contact__form-input {
                    height: 35px;
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid var(--text-text-secondary, #EEF0F2);
                    background: rgba(238, 240, 242, 0.20);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 150%;
                    padding: 6px 12px;
                    color: #EEF0F2;
                }
            }
            .contact__form-textarea {
                height: 300px;
                width: 100%;
                border-radius: 8px;
                border: 1px solid var(--text-text-secondary, #EEF0F2);
                background: rgba(238, 240, 242, 0.20);
                padding: 16px 10px;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                color: $text-white;
                resize: none;
            }
            .contact__form-button {
                margin: 0 auto;
                display: flex;
                min-width: 260px;
                padding: 8px 23px;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: 1px solid $primary;
                background: $primary;
            }
        }
    }
}
/* Change for contact - us in programs */
.contact-us-program{
    .contact__container{
        .contact__title, .contact__description{
            color: $dark;
        }
        .contact__form{
            .contact__form-input-container{
                .contact__form-label{
                    color: $dark;
                }
                .contact__form-input{
                    border: 1px solid var(--text-text-secondary, $dark);
                    color: $dark;
                }
            }
            .contact__form-textarea{
                border: 1px solid var(--text-text-secondary, $dark);
                color: $dark;
            }
        }
    }
}

/* Define different classes for different programs */
.cu_1{
    background: $p1_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p1_pac; } } }
}
.cu_2{
    background: $p2_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p2_pac; } } }
}
.cu_3{
    background: $p3_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p3_pac; } } }
}
.cu_4{
    background: $p4_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p4_pac; } } }
}
.cu_5{
    background: $p5_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p5_pac; } } }
}
.cu_6{
    background: $p6_bcg;
    .contact__container{ .contact__form{ .contact__form-button{ border: 1px solid $dark; background: $p6_pac; } } }
}
