body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; letter-spacing: 0.0px;
    a{
        text-decoration: none; color: #333333;
    }
}

@import "layout/menu";

.text{
    color:red;
    background:blue;
    font-size:10px;

    .hello{
        background:red;
    }
}
